body {
  background-color: #d0e4fe
}

h1 {
  color: blue;
  font-size: 3em; 
}

h2 {
  color: green;
  font-weight: normal;
  font-style:italic;
}

.completed {
  font-family: "Times new Roman";
}

#tasks .completed {
  background: #ccc;
  text-decoration: underline;
}